/* fonts */
@font-face {
  font-family: dana;
  src: url(../fonts/Dana-Regular.woff2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: dana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

.container {
  max-width: 120rem;
  /* border-left: 1px solid red;
  border-right: 1px solid red; */
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: #eaeaea;
  text-align: center;
}

/* MAIN */

.main {
}

.users-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.users-template {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* USERS TEMPLATE */
.users-template i {
  display: block;
  color: rgb(163, 163, 163);
  transition: color 100ms linear;
  font-size: 2rem;
}

.users-template i:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* CHOOSE USERS COUNT */
.choose-user-count{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose-user-count input[type='number']{
  width: 7rem;
  height: 3rem;
  text-align: center;
  outline: none;
  border: none;
  background: #ededed;
  border-radius: 0.4rem;
}

.users-list {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
}

.users-list__animation {
  animation: shutter-in-top 1s linear 0s 1 normal none;
}

.user-item {
  background-color: #ededed;
  padding: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 150ms linear;
}

.user-item:hover{
  background-color: #ccc;
}

.user-item:nth-child(1) {
  border-top: none;
}

.user-item:last-child {
  border-bottom: none;
}

/* pagination */
.pagination {
  display: flex;
  gap: 0.4rem;
  margin-top: 3rem;
}

.page,
.prev-page,
.next-page {
  background-color: #ededed;
  color: #000000;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms linear;
  border-radius: 0.8rem;
  position: relative;
}


.page:hover,
.prev-page :hover,
.next-page:hover {
  background-color: #32788f;
  color: #fff;
}

.current-page {
  background-color: #32788f;
  color: #fff;
}

@keyframes shutter-in-top {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
